@import url("https://fonts.googleapis.com/css2?family=Ubuntu&family=Wallpoet&display=swap");

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #e1e5f2;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Press Start 2P", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
